<h1>Labyrinth</h1>
<meta name="viewport" content="width=620" />
<title>geolocation</title>
    <article>
    
	  <p>Latitude: <span id="lat">checking...</span></p>
	  <p>Longitude: <span id="long">checking...</span></p>
    </article>
	  <%= image_tag('easyLab1.png') %>
  
<script>
function success(position) {
  
  var la = document.querySelector('#lat');
  var lo = document.querySelector('#long');
  
  la.innerHTML = position.coords.latitude;
  lo.innerHTML = position.coords.longitude;
  navigator.geolocation.clearWatch(watchid);
  var watchid = navigator.geolocation.watchPosition(success, error);
}
function error(msg) {
  var s = document.querySelector('#status');
  s.innerHTML = typeof msg == 'string' ? msg : "failed";
  s.className = 'fail';
  
  // console.log(arguments);
}
if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success, error);
} else {
  error('not supported');
}
</script>