<h1>Labyrinth</h1>
<meta name="viewport" content="width=620" />
<canvas id="myCanvas" width="209" height="369" style="border:0px solid #000000;">
</canvas>
  <article>
    
	  <p>Latitude: <span id="lat">checking...</span></p>
	  <p>Longitude: <span id="long">checking...</span></p>
    </article>
	    
  
<script>
var laold = 0;
var loold = 0;
var x = 15;
var y = 0;
var lacur = 0;
var locur = 0;
function success(position) {
  
  var la = document.querySelector('#lat');
  var lo = document.querySelector('#long');
  if(laold != lacur)
  {
	
	ctx.moveTo(x,y);
	ctx.lineTo(x,y+1);
	
	ctx.stroke();
	laold = position.coords.latitude.toFixed(2);
	loold = position.coords.longitude.toFixed(2);
	y += 1;
  }
  la.innerHTML = position.coords.latitude.toFixed(2);
  lo.innerHTML = position.coords.longitude.toFixed(2);
  lacur = position.coords.latitude.toFixed(2)
  locur = position.coords.longitude.toFixed(2);
  navigator.geolocation.clearWatch(watchid);
  var watchid = navigator.geolocation.watchPosition(success, error);
}
function error(msg) {
  var s = document.querySelector('#status');
  s.innerHTML = typeof msg == 'string' ? msg : "failed";
  s.className = 'fail';
  
  // console.log(arguments);
}
if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(success, error);
} else {
  error('not supported');
}
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
var img = new Image();
img.src = "<%= image_path("easyLab1.png") %>";
 
img.onload = function()
{
 ctx.drawImage(img,0,0);
 ctx.strokeStyle = "red";
};
</script>