
<body id="jobody">
<head>
  <title>Labyrinth</title>

</head>
<h1 id = "labhead">Labyrinth</h1>
<p id="help">Welcome to the best app to join you on your journey</p>

<ul id="lablist">
  <li id ="labitem" ><%= link_to image_tag('Relax.png') , relax_path %></li>

  <li id ="labitem" ><%= link_to image_tag('Time.png') , timed_path %></li>

  <li id ="labitem" ><%= link_to image_tag('User.png') , user_show_path %></li>

  <li id ="labitem"> <%= link_to image_tag('Logout.png') , user_destroy_path %></li>

</ul>
</body>


