<body id="relbod">

<head>
		<title>Relaxed Journey</title>
	    
	</head>
<h1 id="relhead">Labyrinth</h1>
<h2 id="relhead2">Relaxed Mode</h2>
		<p id="help">There are a large array of relaxing journeys to choose from</p>

<div id="list">
&nbsp
<ul id="relscroll">
<li id="relitem"><%= link_to 'Easy' , labyrinth_path %></li>
<li id="relitem">Medium</li>
<li id="relitem">Hard</li>
</ul>
<back><%= link_to 'Back', home_path %></back>
</div>
</body>
