<head>
		<title>Relaxed Journey</title>
	    
	</head>
<h1>Labyrinth</h1>
<h2>Relaxed Mode</h2>
		<p class="help">There are a large array of relaxing journeys to choose from</p>

<div class="list">
&nbsp
<ul>
<li>Easy</li>
<li>Medium</li>
<li>Hard</li>
</ul>
<back><%= link_to 'Back', home_path %></back>
</div>
