<body id="relbod">

<head>
		<title>Timed Journey</title>
	    
	</head>
<h1 id="relhead">Labyrinth</h1>
<h2 id="relhead2">Timed Mode</h2>
		<p id="help">There are a large array of time tested journeys to choose from</p>

<div id="list">
&nbsp
<ul id="relscroll">
<li id="relitem"><%= link_to 'Easy' , labyrinth_path %></li>
  <li id="relitem"><%= link_to 'Medium' , labyrinth_path %></li>
  <li id="relitem"><%= link_to 'Hard' , labyrinth_path %></li>
</ul>
<back><%= link_to 'Back', home_path %></back>
</div>
</body>
