
<html id ="profbod">
<body id="profbod">
<p id="help"style="padding-top: 120px">You are successfully logged out!</p>&nbsp
<li id="labitem"><%= link_to image_tag('SignIn.png') , '/auth/fitbit' %></li>
</body>
</html>
