// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
			 background-image: image-url('Brick.jpg');
			             background-size:contain;

         }
            h1 {
                font-family: "Freestyle Script";
                font-size: 200px;
                color:whitesmoke;
                font-weight:bold;
                font-style: italic;
                text-align: center;
                text-transform: uppercase;
            }
            .help
            {
                font-family: "Freestyle Script";
				font-size:100px;
                color:whitesmoke;
				text-align:center;
            }
            li{
			padding:0;
			text-align:center;
                color:black;
				list-style:none;
				font-family:"Freestyle Script";
				font-size:80px;
               
            }
			