// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#jobody{
			 background-image: image-url('Brick.jpg') !important;
			             background-size:contain !important;
                  padding-left:0px !important;
                  line-height:normal !important;


         }
            #labhead {
                font-family: "Freestyle Script";
                font-size: 200px;
                color:whitesmoke;
                font-weight:bold;
                font-style: italic;
                text-align: center;
              margin: 128px 0;
                text-transform: uppercase;
            }
            #help
            {
                font-family: "Freestyle Script";
				font-size:100px;
                color:whitesmoke;
				text-align:center;
            }
            #lablist{
              padding-top:30px;
            }
            #labitem{
			padding:0;
			text-align:center;
                color:black;
				list-style:none;
				font-family:"Freestyle Script";
				font-size:80px;
               
            }
			
