// Place all the styles related to the journey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#relbod{
			 background-image: image-url('Brick.jpg') !important;
            background-size:contain;
            padding-left: 0px !important;
            line-height: normal !important;


         }
            #relhead {
                font-family: "Freestyle Script";
              text-shadow: 0px 10px 10px black;
                font-size: 200px;
                color:whitesmoke;
                font-weight:bold;
                font-style: italic;
                text-align: center;
                text-transform: uppercase;
                margin: 134px 0;
            }
			#relhead2 {
                font-family: "Freestyle Script";
              text-shadow: 0px 10px 10px black;
                font-size: 125px;
                margin: 100px 0;
                color:whitesmoke;
                font-weight:bolder;
                text-align: center;
                text-transform: uppercase;
            }
            #help
            {
                font-family: "Freestyle Script";
              text-shadow: 0px 10px 10px black;

              font-size:80px;
                color:whitesmoke;
				text-align:center;
            }
          
            
			#list {
              font-family: "Freestyle Script";
			background:no-repeat;
			background-size:cover;
			background-position:center;
			background-image: image-url('List.png');
			font-size:110px;
			text-align:center;
			list-style:none;
			height:1300px;

			}

            #relscroll{

              margin: 110px 0;
              padding-left: 60px !important;
            }

			#relitem{
              line-height: normal !important;
			margin-top:15px;
			font-family:"Freestyle Script";
              font-weight: bolder;
			padding:40px;
			font-size:100px;
			}
			back{
              font-weight: bolder;
			color:black;
			margin-left:300px;
			}
			a{
			text-decoration:none !important;
			color:black;
			}
