// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#help
{
  font-family: "Freestyle Script";
  font-size:80px;
  color:whitesmoke;
  text-align:center;
}