
<head>
  <title>User Profile</title>
</head>

<body id = "jobody">
<h1 id = "labhead">Labyrinth</h1>
<div id="content" class="clearfix">

  <section id="left">
    <div id="userStats" class="clearfix">
      <div class="pic">
        <%= image_tag('blank-user.jpg') %>

      </div>

      <div class="data">
        <h1>Taikwan Walker</h1>
        <h3>Manhattan, KS</h3>

        <div class="sep"></div>
        <ul class="numbers clearfix">
          <li>Age<strong>22</strong></li>
          <li>Height<strong>6'0</strong></li>
          <li>Weight<strong>225</strong></li>
        </ul>
      </div>
    </div>
  </section>

  <section id="right">
    <div class="gcontent">
      <div class="head"><h1>Achievments</h1></div>
      <div class="boxy">
        <p></p>

        <div class="badgeCount">

        </div>

      </div>
    </div>

    <div class="gcontent">
      <div class="head"><h1>Goals</h1></div>

    </div>
  </section>
</div>
</body>
