<head>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<title>Labyrinth</title>
	    <style type="text/css">
         body{
             background-image:url(http://upload.wikimedia.org/wikipedia/commons/f/f4/Brick_wall_in_Le%C3%B3n,_Guanajuato,_2010-06-13.jpg);
         }
            h1 {
                font-family: "Freestyle Script";
                font-size: 100px;
                color:whitesmoke;
                font-weight:bold;
                font-style: italic;
                text-align: center;
                text-transform: uppercase;
            }
            .help
            {
                
                color:purple;
            }
            .button {
                color:none;
    background-image:url('https://openclipart.org/download/4351/dov-Tora-Scroll-with-Einstein-equation.svg');
	background-repeat: no-repeat;
    background-position:center;
    background-size:300px;
                height: 300px;
                width:300px;
            }
        </style>
	</head>
<h1>Labyrinth</h1>
<ul style = "list-style: none;">
  <li><%= button_to  'Relax', relax_path%></li>
</ul>

